<!DOCTYPE html>
<html>
<head>
    <!-- add navbar from templates -->
    {% include 'comandas/navbar.html' %}
    <title>Criar Barraca</title>
    <!-- adicionar bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</html>

<body>
    <!-- adicionar titulo -->
    <h1>Criar Barraca</h1>
    <!-- adicionar formulario -->
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
             
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
    </div>